<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="userForm" (ngSubmit)="signup(userForm)" autocomplete="off">
      
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" formControlName="name" name="name" required>
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password" name="password"
          required>
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign up</button>
    </form>
  </main>
</body>