<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">List Articles</span>
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="['/signup']" class="btn btn-outline-secondary float-end"
      style="margin-top: -30px;">Signup</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="btn btn-outline-secondary float-end"
      style="margin-top: -30px;">Login</a>
    <a *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-secondary float-end"
      style="margin-top: -30px;">Logout</a>
    <a *ngIf="isLoggedIn" class="btn btn-outline-secondary float-end" style="margin-top: -30px;">User: {{ userLoggedIn }}</a>
  </header>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{ articles[0].title }}</h1>
      <p class="col-md-8 fs-4">{{ articles[0].context }}</p>
      <button *ngIf="isLoggedIn" class="btn btn-dark" (click)="deleteArticle(articles[0].id)">Delete</button>
      <a *ngIf="isLoggedIn" class="btn btn-dark" [routerLink]="['/update/', articles[0].id]">Update</a>
      <a *ngIf="!isLoggedIn" [routerLink]="[articles[0].id]" class="btn btn-dark">Read more ...</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>{{ articles[1].title }}</h2>
        <p>{{ articles[1].context }}</p>
        <button *ngIf="isLoggedIn" class="btn btn-light" (click)="deleteArticle(articles[1].id)">Delete</button>
        <a *ngIf="isLoggedIn" class="btn btn-light" [routerLink]="['/update/', articles[1].id]">Update</a>
        <a *ngIf="!isLoggedIn" [routerLink]="[articles[1].id]" class="btn btn-light">Read more ...</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{{ articles[2].title }}</h2>
        <p>{{ articles[2].context }}</p>
        <button *ngIf="isLoggedIn" class="btn btn-dark" (click)="deleteArticle(articles[2].id)">Delete</button>
        <a *ngIf="isLoggedIn" class="btn btn-dark" [routerLink]="['/update/', articles[2].id]">Update</a>
        <a *ngIf="!isLoggedIn" [routerLink]="[articles[2].id]" class="btn btn-dark">Read more ...</a>
      </div>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{ articles[3].title }}</h1>
      <p class="col-md-8 fs-4">{{ articles[3].context }}</p>
      <button *ngIf="isLoggedIn" class="btn btn-dark" (click)="deleteArticle(articles[3].id)">Delete</button>
      <a *ngIf="isLoggedIn" class="btn btn-dark" [routerLink]="['/update/', articles[3].id]">Update</a>
      <a *ngIf="!isLoggedIn" [routerLink]="[articles[3].id]" class="btn btn-dark">Read more ...</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>{{ articles[4].title }}</h2>
        <p>{{ articles[4].context }}</p>
        <button *ngIf="isLoggedIn" class="btn btn-light" (click)="deleteArticle(articles[4].id)">Delete</button>
        <a *ngIf="isLoggedIn" class="btn btn-light" [routerLink]="['/update/', articles[4].id]">Update</a>
        <a *ngIf="!isLoggedIn" [routerLink]="[articles[4].id]" class="btn btn-light">Read more ...</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{{ articles[5].title }}</h2>
        <p>{{ articles[5].context }}</p>
        <button *ngIf="isLoggedIn" class="btn btn-dark" (click)="deleteArticle(articles[5].id)">Delete</button>
        <a *ngIf="isLoggedIn" class="btn btn-dark" [routerLink]="['/update/', articles[5].id]">Update</a>
        <a *ngIf="!isLoggedIn" [routerLink]="[articles[5].id]" class="btn btn-dark">Read more ...</a>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-muted border-top">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><button class="page-link" style="color: black;" (click)="listArticle_byid(1)">1</button>
        </li>
        <li class="page-item"><button class="page-link" style="color: black;" (click)="listArticle_byid(2)">2</button>
        </li>
        <li class="page-item"><button class="page-link" style="color: black;" (click)="listArticle_byid(3)">3</button>
        </li>
        <li class="page-item"><button class="page-link" style="color: black;" (click)="listArticle_byid(4)">4</button>
        </li>
        <li class="page-item"><button class="page-link" style="color: black;" (click)="listArticle_byid(5)">5</button>
        </li>
      </ul>
    </nav>
    <a *ngIf="isLoggedIn" [routerLink]="['/create']" class="btn btn-dark float-end" style="margin-top: -55px;">Create
      New Article</a>
  </footer>
</div>