<div class="container py-4">
    <h1 class="display-5 fw-bold">Update Article</h1>

    <form [formGroup]="angForm" (ngSubmit)="updateArticle(angForm)" autocomplete="off">
        <input type="hidden" name="id" formControlName="id">
        <div class="group">
            <textarea style="height: 100px;" type="text" class="form-control" name="title" formControlName="title" required></textarea>
            <label class="display-5 fw-bold">Title</label>
        </div>

        <div class="group">
            <textarea type="text" class="form-control" name="context" formControlName="context" required></textarea>
            <label class="display-5 fw-bold">Context</label>
        </div>
        <input type="submit" class="btn btn-dark btn-lg" name="submit" value="Update">
    </form>
</div>