* { box-sizing:border-box; }

body
.container { 
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
  margin:auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h1 { 
  text-align:left; 
  margin-bottom:50px; 
}

/* form starting stylings ------------------------------- */
.group { 
  position:relative; 
  margin-bottom:45px; 
}

/* LABEL ======================================= */
label {
  color:#999; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
textarea:focus ~ label, textarea:valid ~ label {
    top:-30px;
    font-size:22px;
    color: black;
}

textarea {
    max-width: 100%;
    height: 500px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:larger;
}