<div class="container-fluid">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 about text-justify">
      <h1 class="display-5 fw-bold">{{ article.title }}</h1>
      <br>
      <p class="fs-5">{{ article.context }}</p>
      <br>
      <p style="font-size: medium;">{{ article.created_at }}</p>
    </div>
  </div>
</div>